.square{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

#top {
    height: 55px;
    width: 400px;
    margin: auto;
}

.topSquare {
    height: 50px;
    width: 50px;
    background-color: white;
}

.chartColumn:hover {
    cursor: pointer;
}

.circle {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#chart {
    margin: auto;
}

.button-style {
    margin: 20px auto auto !important;
}

#content {
    align-self: center;
    font-size: x-large;
}